
/* Use @extend when you want to store multiple static properties and pass them to selectors */

@import 'config';

.display-align {
  display: table-cell;
  vertical-align: middle;
}

body {
  background-color: $main-background-grey;
}

.card-container{
  height: 420px;
  position: relative;
  background-color: white;
  overflow: hidden;
  z-index: 20;
  box-shadow: $shadow-container;
  margin: 20px;
}

.pricebox {
  height: 50px;
  width: 100px;
  position: absolute;
  background-color: $price-box-color;
  display: table;
}

.price {
  /*display: table-cell;
  vertical-align: middle;*/
  @extend .display-align;
  color: white;
  font-family: $font-stack;
  font-size: 20px;
  text-align: center;
}

.buybox {
  height: 50px;
  width: 100%;
  position: absolute;
  background-color: $buybox-color;
  display: table;
  bottom: 0;
}

.add-to-cart {
  /*display: table-cell;
  vertical-align: middle;*/
  @extend .display-align;
  color: white;
  font-family: $font-stack;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}

.card {
  display: table;
  height: 100%;
  width: 100%;
}

.product-overlay {
  height: 100%;
  width: 100%;
  z-index: 10;
  position: absolute;
}

.card-inner {
  /*display: table-cell;
  vertical-align: middle;*/
  @extend .display-align;
}


.proimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 90%;
  max-width: 90%;
}

.page-header h1 {
  text-align: center;
  font-family: $font-stack;
  margin-top: 70px;
}

.shopping-cart {
  position: fixed;
  top: 55px;
  right: 40px;
  display: none;
  background-color: #fff;
  box-shadow: $shadow-container;
  padding: 15px;
  z-index: 999;
}

.cart-title {
  text-align: center;
  font-weight: bold;
}

.show {
  display: block;
}

.clear-cart {
  width: 100%;
}